.world-map {
    margin: -10px;
    position: relative;
    .left-overlay {
        position: absolute;
        left: 0px;
        width: 50px;
        top: 0px;
        bottom: 1px;
        @include background(linear-gradient(left, #1f2b36 25%, rgba(31, 43, 54, 0)));
    }
    .right-overlay {
        position: absolute;
        right: 0px;
        width: 50px;
        top: 0px;
        bottom: 1px;
        @include background(linear-gradient(right, #1f2b36 25%, rgba(31, 43, 54, 0)));
    }
    path {
        fill: rgba(255,255,255,.25);
        stroke-width:1;
        stroke: rgba(255,255,255,.25);
    }
    circle {
        fill: #0d9cd8;
    }
}
